{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% if board %}{{ board|stringformat:'s' }}{% else %}DjangoIB{% endif %}</title>
    <link href="{% static 'root/css/base.css' %}" rel="stylesheet" type="text/css" />
    {% block head_staticfiles %}{% endblock %}
    {% block head_scripts %}{% endblock %}
</head>
<body>
    <div id="top"></div>
    {% block content %}{% endblock %}

    <script src="{% static 'root/js/jquery.min.js' %}" type="text/javascript"></script>
    {% block body_scripts %}{% endblock %}
    <div id="bottom"></div>
</body>
</html>
