{% extends 'root/base.html' %}

{% load static %}

{% block content %}
<div id="root" class="index-root">
    <div class="fluke"></div>
    <div style="margin-bottom: var(--spacing-lg);">
        <img class="site-logo" src="{% if app_logo %}{{ app_logo }}{% else %}{% static 'images/djangoib_logo.png' %}{% endif %}" alt="DjangoIB Logo" />
    </div>
    {% if app_info %}
        <div class="card">
            <div class="card-body">
                <div class="site-header-container row">
                    <div>{{ app_info }}</div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="card">
        <div class="card-header">
            <h3 class="mx-0">Boards</h3>
        </div>
        <div class="card-body">
            <div class="boards-list-container row">
                {% for bucket in board_buckets %}
                    {% if bucket %}
                        <ul class="boards-list">
                            {% for board in bucket %}
                                <li class="boards-list-item">
                                    <a href="{{ board.get_absolute_url }}">/{{ board.slug }}/ - {{ board.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h3 class="mx-0">Statistics</h3>
        </div>
        <div class="card-body">
            Some stats
        </div>
    </div>
    {% include "root/footer.html" %}
</div>
{% endblock %}
